includes:
	- phar://tools/vendor/phpstan/phpstan/phpstan.phar/conf/config.levelmax.neon
parameters:
    paths:
    		- src
    bootstrapFiles:
    		- '../../../wp-load.php' #WordPress
    ignoreErrors:
