#formOrderOneClick .popup {
    display: inline-block;
    padding: 15px;
    width: 300px;
    top: 40%;
    border-radius: 11px;
}
#formOrderOneClick .popup .close_order {
    background: -webkit-gradient(linear, left top, right top, from(#3d51c8), to(#051fb8));
    background: -webkit-linear-gradient(top, #3d51c8, #051fb8);
    background: -moz-linear-gradient(top, #3d51c8, #051fb8);
    background: -o-linear-gradient(top, #3d51c8, #051fb8);
    background: -ms-linear-gradient(top, #3d51c8, #051fb8);
    background: linear-gradient(top, #3d51c8, #051fb8);
    background-color: #3d51c8;
    border: 1px solid #061fb8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}
#formOrderOneClick .popup .close_order:hover {
    background: -webkit-gradient(linear, left top, right top, from(#051fb8), to(#3d51c8));
    background: -webkit-linear-gradient(top, #051fb8, #3d51c8);
    background: -moz-linear-gradient(top, #ff5f0, #3d51c87);
    background: -o-linear-gradient(top, #051fb8, #3d51c8);
    background: -ms-linear-gradient(top, #051fb8, #3d51c8);
    background: linear-gradient(top, #051fb8, #3d51c8);
    background-color: #051fb8;
    border: 1px solid #00385E;
}
#formOrderOneClick .popup .close_order:active {
    background: #8f9be0;
}
#formOrderOneClick input[type="email"], #buyoneclick_form_order input[type="tel"], #buyoneclick_form_order input[type="text"] {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 0px 7px;
    margin: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-shadow: #BBBBBB 0px 1px 2px;
    height: 25px;
    text-align: left;
    -moz-box-shadow: inset 1px 1px 4px #ccc;
    -webkit-box-shadow: inset 1px 1px 4px #ccc;
    box-shadow: inset 1px 1px 4px #ccc;
    margin: 5px;
    width: 90%;
}
#formOrderOneClick textarea{
    resize: none;
    font-family: 'arial', sans-serif;
    padding: 6px;
    width: 271px;
    height: 80px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-shadow: #BBBBBB 0px 1px 2px;
    text-align: left;
    -moz-box-shadow: inset 1px 1px 4px #ccc;
    -webkit-box-shadow: inset 1px 1px 4px #ccc;
    box-shadow: inset 1px 1px 4px #ccc;
    margin: 5px;
}
#formOrderOneClick input[type="checkbox"] {
    float: left;
}
#formOrderOneClick .popup #buyoneclick_form_order {
    position: relative;
    border-radius: 12px;
    background: none;
}
#formOrderOneClick h6 {
    display: block;
    font-size: 16px;
    margin: 5px;
}
#formOrderOneClick .button{
    background: -webkit-gradient(linear, left top, right top, from(#3d51c8), to(#051fb8));
    background: -webkit-linear-gradient(top, #3d51c8, #051fb8);
    background: -moz-linear-gradient(top, #3d51c8, #051fb8);
    background: -o-linear-gradient(top, #3d51c8, #051fb8);
    background: -ms-linear-gradient(top, #3d51c8, #051fb8);
    background: linear-gradient(top, #3d51c8, #051fb8);
    background-color: #3d51c8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 1px 0px 1px rgba(34, 36, 36, .75);
    border: 1px solid #061fb8;
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    width: 98px;
    padding: 6px;
    outline: medium none;
    text-align: center;
    vertical-align: middle;
    margin: 10px auto;
    text-decoration: none;
    cursor: pointer;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}
#formOrderOneClick .button:hover {
    background: -webkit-gradient(linear, left top, right top, from(#051fb8), to(#3d51c8));
    background: -webkit-linear-gradient(top, #051fb8, #3d51c8);
    background: -moz-linear-gradient(top, #ff5f0, #3d51c87);
    background: -o-linear-gradient(top, #051fb8, #3d51c8);
    background: -ms-linear-gradient(top, #051fb8, #3d51c8);
    background: linear-gradient(top, #051fb8, #3d51c8);
    background-color: #051fb8;
    border: 1px solid #00385E;
    text-decoration: none;
}
#formOrderOneClick .button:active, #buyoneclick_form_order input[type="submit"].button:disabled {
    opacity: 0.5;
    background: -webkit-gradient(linear, left top, right top, from(#3d51c8), to(#051fb8));
    background: -webkit-linear-gradient(top, #3d51c8, #051fb8);
    background: -moz-linear-gradient(top, #3d51c8, #051fb8);
    background: -o-linear-gradient(top, #3d51c8, #051fb8);
    background: -ms-linear-gradient(top, #3d51c8, #051fb8);
    background: linear-gradient(top, #3d51c8, #051fb8);
    background-color: #3d51c8;
    cursor: default;
}
#formOrderOneClick .phoneFormat {
    line-height: 12px;
    font-size: 12px;
    color: #cacaca;
    position: relative;
    z-index: 20;
    padding: 0;
    margin: 2px;
}
#formOrderOneClick label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
